body
{
  text-align: center;
  background-image: url('../img/bear.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
h1
{
  background-color: yellow;
}
.container
{
  display: flex;
  background-color: black;
  align-items: center;
  margin-top: 5%;
  color: white;
  justify-content: center;
}
table, td, th {
    border: 1px solid white;
}
thead, tfoot {
    background-color: white;
    color: black;
}
td{
    width: 6rem;
    height: 6rem;
    background-color: grey;
}